@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Playfair+Display:wght@600&display=swap');

*{
	box-sizing: border-box;

}
a:link {
  text-decoration: none;
  color:black
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body{
	padding: 0;
	/*background-color: whitesmoke;*/
	/*margin-top: 0.5rem;*/
	font-family: 'Patua One', cursive;
}

.colored{
	color: #4299e1;
}

.leadin{
	font-size: 6vw;
}

.leadin2{
	font-size: 2vw;
}

.block{
	display: inline-block;
}

.about{
	padding: auto;
	font-family: 'Playfair Display', serif;
	text-decoration-line: overline;
  	text-decoration-style: wavy;
  	text-decoration-color:  #0275d8;
}
